.env
node_modules

notes.md

app/t2-stat-parser/serverStats/stats
app/t2-stat-parser/serverStats/mlData
app/t2-stat-parser/serverStats/lData
app/t2-stat-parser/serverStats/__notes

docker-compose.deploy.yml
traefik.yml
docker-secrets/adonis.appkey.*