<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tribes 2 Stats</title>

  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  @if(node_env().env === "production")
    {{ style(versioncss('main')) }}
  @else
    {{ style('dist/css/main') }}
  @endif
</head>
<body class="antialiased font-sans bg-gray-200">

  <div id="popup" class="relative bg-indigo-600">
    <div class="max-w-screen-xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
      <div class="pr-16 sm:text-center sm:px-16">
        <p class="font-medium text-white">
            Hey! This is a preview. Things aren't quite finished yet. Stay tuned!
        </p>
      </div>
      <div class="absolute inset-y-0 right-0 pt-1 pr-1 flex items-start sm:pt-1 sm:pr-2 sm:items-start">
        <button type="button" class="flex p-2 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500 transition ease-in-out duration-150" onclick="closePopUp()">
          <svg class="h-6 w-6 text-white" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
    </div>
  </div>


  {{{ startTag }}}

  {{--  {{ edgeVar }}  --}}
  @if(node_env().env === "production" || node_env().hmr === "false")
    {{ script(versionjs('app')) }}
  @else
    {{ script('http://localhost:8081/dist/js/app.js') }}
  @endif



<script>
function closePopUp(){
  document.getElementById("popup").remove();
};
</script>

</body>
</html>
